Repository D9292S/New-Quantum-Bank: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-no-print, dependency-validation

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
        files: ^pyproject\.toml$

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]

-   repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    -   id: black
        language_version: python3

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: ["--profile", "black"]

-   repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    -   id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

-   repo: local
    hooks:
    -   id: python-no-print
        name: Check for print statements
        description: "Check for inappropriate print statements (use logging instead)"
        entry: "[^_]print\\s*\\("
        language: pygrep
        types: [python]
        exclude: "(launcher\\.py|cluster\\.py|temp_mongo_test\\.py|scripts/.*\\.py|config\\.py)"
        verbose: true
        fail: false
    -   id: dependency-validation
        name: Validate dependencies
        entry: uv pip sync pyproject.toml --dry-run
        language: system
        pass_filenames: false
        files: 'pyproject\.toml$'
    -   id: test-critical-paths
        name: Test critical code paths
        entry: pytest tests/unit/critical_paths -v
        language: system
        pass_filenames: false
        stages: [push]
    -   id: security-check
        name: Check for security issues
        entry: pip-audit
        language: system
        pass_filenames: false
        stages: [push]

Update CI/CD workflows for performance optimization and dependency management
  .github/workflows/code-quality.yml
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/production-deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/staging-deploy.yml
  .gitignore
  pyproject.toml
Due: dependency-validation

Add GitHub workflow files for CI/CD pipeline
  .github/workflows/code-quality.yml
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/security-scan.yml
  .github/workflows/staging-deploy.yml
Due: none

Fix CI/CD performance tests by using direct script execution instead of missing pytest tests
  .github/workflows/integration-tests.yml
Due: none

Add missing test_performance.py module required by performance tests
  optimizations/test_performance.py
Due: python-no-print

Fix UV command syntax in integration tests workflow
  .github/workflows/integration-tests.yml
Due: none

Fix performance tests for CI/CD pipeline - resolve encoding issues, fix function duplication, and update PYTHONPATH configuration
  .github/workflows/integration-tests.yml
  optimizations/test_performance.py
  tools/run_performance_tests.py
Due: python-no-print

Fixing ci/cd pipelines issues
  .github/workflows/integration-tests.yml
Due: none

Fix CI/CD pipeline issues: MongoDB Atlas integration, performance test placeholders, and lint commands
  .github/workflows/code-quality.yml
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
Due: none

Fix remaining CI/CD issues: Remove mongosh dependency and make linters non-blocking
  .github/workflows/code-quality.yml
  .github/workflows/integration-tests.yml
Due: none

Fix mongosh dependency in staging workflow
  .github/workflows/staging-deploy.yml
Due: none

Update MongoDB configuration to use Atlas exclusively and prevent container creation
  .github/workflows/integration-tests.yml
Due: none

Add explicit comment to clarify no containers are used in integration tests
  .github/workflows/integration-tests.yml
Due: none

Update workflow comments to clarify MongoDB Atlas usage
  .github/workflows/integration-tests.yml
Due: none

Update MongoDB integration to use MongoDB Atlas instead of local instances
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/staging-deploy.yml
  config.py
  docs/DEVELOPERS.md
  launcher.py
  tests/conftest.py
Due: python-no-print

Fix GitHub Actions workflow issues with deprecated actions and context access
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/staging-deploy.yml
Due: none

Add motor package installation to workflow dependencies
  .github/workflows/integration-tests.yml
Due: none

Fix MongoDB integration in workflows by adding database extras and improving context access
  .github/workflows/integration-tests.yml
  .github/workflows/performance-tests.yml
  .github/workflows/staging-deploy.yml
Due: none

Add _run_performance_monitoring method to fix integration tests
  cogs/mongo.py
Due: python-no-print

Update MongoDB test to use Atlas URIs instead of localhost
  tests/integration/test_mongodb_connection.py
Due: python-no-print

Update test files to use MongoDB Atlas URIs instead of localhost
  tests/test_mongo_integration.py
  tests/unit/test_bot.py
Due: python-no-print

Fix MongoDB URI parsing test to use single Atlas URI
  tests/integration/test_mongodb_connection.py
Due: python-no-print

Fix staging workflow to handle missing e2e tests module
  .github/workflows/staging-deploy.yml
Due: none

Fix staging workflow to use PowerShell for Windows compatibility
  .github/workflows/staging-deploy.yml
Due: none

Fix staging-deploy.yml to use Bash commands for Ubuntu compatibility
  .github/workflows/staging-deploy.yml
Due: none

Modified Documentation with latest ci/cd changes
  CANARY_DEPLOYMENT.md
  CI_CD_WORKFLOW_GUIDE.md
  CONTRIBUTING.md
  DEPLOYMENT.md
Due: none

Fix Dockerfile to copy source files before installation
  Dockerfile
Due: none

Add Python development headers to fix uvloop compilation
  Dockerfile
Due: none

Add additional Python development dependencies for uvloop compilation
  Dockerfile
Due: none

Temporarily remove high-performance extras to fix Docker build
  Dockerfile
Due: none

Add explicit permissions for GitHub Container Registry
  .github/workflows/staging-deploy.yml
Due: none

Canary Deployment
  .github/workflows/staging-deploy.yml
Due: none
